# Ignore data folders
*/FashionMNIST/raw
data/

# ignore cache and environment artifact
**/__pycache__/
blixtbird.egg-info
venv*
__pycache__
.vscode

# Ignore all results folders except final_results/
results*